.container
	.row
		.col-lg-3
			%section.double-padding-top.d-none.d-lg-inline.ml-auto
				.row
					.col-lg-12
						%ul.section-nav.list-unstyled.side-nav-primary.double-margin-top
							%li.active
								%a{:href=>"#"}
									Special education
							%li
								%a{:href=>"#"}
									Insurance
								%ul.list-unstyled
									%li
										%a{:href=>"#"}
											Bad faith claims
									%li
										%a{:href=>"#"}
											First party defense
									%li
										%a{:href=>"#"}
											Third party defense
									%li
										%a{:href=>"#"}
											Insurance coverage
							%li
								%a{:href=>"#"}
									Construction
							%li
								%a{:href=>"#"}
									Commercial
							%li
								%a{:href=>"#"}
									Employment law
							%li
								%a{:href=>"#"}
									Appeals
							%li
								%a{:href=>"#"}
									Amusment park liability
							%li
								%a{:href=>"#"}
									Education


		.col-lg-9
			%section.page-hero.page-hero-offset-sm.double-padding-top.double-padding-bottom{:style=>"background-image:url(../images/practice-show-hero-bg.png);"}
				.container
					.row
						.col-lg-10
							.hero-text-container.no-padding-left
								%h1.margin-bottom.bold-font
									Special Education
								%p
									Parents of children with disabilities face a complex and confusing web of federal and state laws that control the provision of special education for all children with disabilities. Appropriate special education services are often intensive and expensive.
			%section.blog-styles.double-padding-top.double-padding-bottom
				.container
					.row
						.col-lg-10
							%p
								=lorem.paragraphs(1)
							%p
								=lorem.paragraphs(1)
							%ul
								%li
									Admitted to all Colorado State Courts
								%li
									Admitted to U.S. District Court of Colorado
								%li
									Admitted to 10th Circuit Court of Appeals
								%li
									Admitted to all Alaska State Courts
								%li
									Admitted to the U.S. District Court of Alaska
								%li
									Admitted to the Ninth Circuit Court of Appeals
								%li
									Member, Colorado, Alaska, Denver Bar Associations
								%li
									Member, Colorado Defense Lawyers Association
								%li
									Member, Defense Research Institute

=partial("shared/promo")