%footer#primary-footer
	.container
		.row
			.col-md-3
				%img.half-margin-bottom{:width => "68px", :src => "images/logo-icon.png"}
				%h6.white-text-color
					© SPR 2018
			.col-md-2
				%h5.bold-font.white-text-color
					Company
				%ul.list-unstyled.footer-list
					%li
						%a{:href=>"#"}
							Practice areas
					%li
						%a{:href=>"#"}
							About
					%li
						%a{:href=>"#"}
							Attorneys
					%li
						%a{:href=>"#"}
							Resources
					%li
						%a{:href=>"#"}
							News
			.col-md-2
				%h5.bold-font.white-text-color
					Company
				%ul.list-unstyled.footer-list
					%li
						%a{:href=>"#"}
							Special education
					%li
						%a{:href=>"#"}
							Insurance
					%li
						%a{:href=>"#"}
							Commercial
					%li
						%a{:href=>"#"}
							Construction
					%li
						%a{:href=>"#"}
							Employment
			.col-md-3
				%h5.bold-font.white-text-color
					Visit
				%ul.list-unstyled.footer-list
					%li
						Cherry Tower
						%br
						950 South Cherry Street, Suite 700
						%br
						Denver, Colorado 80246
			.col-md-2
				%h5.bold-font.white-text-color
					Contact us
				%ul.list-unstyled.footer-list
					%li
						P 303.444.444.4444
					%li
						F 303.555.555.5555
					%li
						E 
						%a{:href=>"mailto:john@doe.com"}
							hello@spr.com


        



