.mobile-menu.d-lg-none
  .navbar-nav.mx-auto
    .nav-item
      %a.nav-link{:href => "/practice-areas"}
        Practice areas
    .nav-item
      %a.nav-link{:href => "/about"}
        About us
    .nav-item
      %a.nav-link{:href => "/team"}
        Attorneys
    .nav-item
      %a.nav-link{:href => "#section-portfolio-companies"}
        Resources
    .nav-item
      %a.nav-link{:href => "/contact"}
        News

    %a.btn.btn-outline-light.btn-lg{:href => "/contact"}
      Request a consultation
    %p.text-center.white-text-color.double-margin-top
      Call us 333.333.3333
%nav.navbar.fixed-top.navbar-expand-sm#primary-nav
  .container
    %a.navbar-brand{:href => "/"}
      %img{:width => "231px", :src => "/images/logo.png"}
    %button.tcon.tcon-menu--xcross.menu-button.d-lg-none.toggle-menu-button{:type => "button"}
      %span.tcon-menu__lines{"aria-hidden" => "true"}
      %span.tcon-visuallyhidden
        toggle menu
    .d-none.d-lg-inline.ml-auto
      .navbar-nav
        .nav-item
          %a.nav-link{:href => "/practice-areas"}
            Practice areas
        .nav-item
          %a.nav-link{:href => "/about"}
            About us
        .nav-item
          %a.nav-link{:href => "/team"}
            Attorneys
        .nav-item
          %a.nav-link{:href => "#section-portfolio-companies"}
            Resources
        .nav-item
          %a.nav-link{:href => "#section-team"}
            News
    .navbar-nav.d-none.d-lg-inline.position-relative
      .call-us
        %h6.no-margin-bottom
          %i.material-icons
            phone
          %span.spaced
            CALL US
          %span.bold-font
            303.830.7090
      .form-inline
        %a.btn.btn-outline-primary.btn-lg.nav-link.contact-button{:href => "/contact"}
          Request a consultation


