%section.page-hero.page-hero-offset{:style=>"background-image:url(../images/team-hero-bg.png);"}
	.container
		.row
			.col-lg-9
				.hero-text-container
					%h1.margin-bottom.medium-font
						Our team
					%h3
						Aliquam vehicula dictum diam, at ornare sem condimentum ut. Aenean blandit consectetur dui ut fermentum.
					%a.btn.btn-dark.btn-lg.margin-top.double-padding-left.double-padding-right{:href=>"#"}
						Get in touch

%section.off-white-bg-color
	.container
		.people-cards
			.row
				.col-lg-4.col-md-6
					%a{:href=>"/styles"}
						.card.person-card.position-relative.card-grid-card.shadowed-card-link
							.card-body
								%img.double-margin-bottom{:src=>"../images/people/thumb-jan.png", :width=>"153px"}
								%h3.card-title.text-color
									Janet R. Spies
								%h5.card-subtitle.light-text-color.half-margin-bottom
									Partner
								%i.material-icons.mail-link{:onclick=>"document.location.href = 'mailto:john@doe.com'; return false"}
									email
								%h5.card-text.light-text-color
									=lorem.words(18)
								%button.btn.btn-lg.btn-outline-dark.btn-block.double-margin-top{:type=>"button"}
									View bio
				.col-lg-4.col-md-6
					%a{:href=>"/styles"}
						.card.person-card.position-relative.card-grid-card.shadowed-card-link
							.card-body
								%img.double-margin-bottom{:src=>"../images/people/thumb-brendon.png", :width=>"153px"}
								%h3.card-title.text-color
									Brendan O. Powers
								%h5.card-subtitle.light-text-color.half-margin-bottom
									Partner
								%i.material-icons.mail-link{:onclick=>"document.location.href = 'mailto:john@doe.com'; return false"}
									email
								%h5.card-text.light-text-color
									=lorem.words(18)
								%button.btn.btn-lg.btn-outline-dark.btn-block.double-margin-top{:type=>"button"}
									View bio
				.col-lg-4.col-md-6
					%a{:href=>"/styles"}
						.card.person-card.position-relative.card-grid-card.shadowed-card-link
							.card-body
								%img.double-margin-bottom{:src=>"../images/people/thumb-jack.png", :width=>"153px"}
								%h3.card-title.text-color
									Jack D. Robinson
								%h5.card-subtitle.light-text-color.half-margin-bottom
									Partner
								%i.material-icons.mail-link{:onclick=>"document.location.href = 'mailto:john@doe.com'; return false"}
									email
								%h5.card-text.light-text-color
									=lorem.words(18)
								%button.btn.btn-lg.btn-outline-dark.btn-block.double-margin-top{:type=>"button"}
									View bio
				.col-lg-4.col-md-6
					%a{:href=>"/styles"}
						.card.person-card.position-relative.card-grid-card.shadowed-card-link
							.card-body
								%img.double-margin-bottom{:src=>"../images/people/thumb-4.png", :width=>"153px"}
								%h3.card-title.text-color
									Priscilla Tomescu
								%h5.card-subtitle.light-text-color.half-margin-bottom
									Associate
								%i.material-icons.mail-link{:onclick=>"document.location.href = 'mailto:john@doe.com'; return false"}
									email
								%h5.card-text.light-text-color
									=lorem.words(18)
								%button.btn.btn-lg.btn-outline-dark.btn-block.double-margin-top{:type=>"button"}
									View bio
				.col-lg-4.col-md-6
					%a{:href=>"/styles"}
						.card.person-card.position-relative.card-grid-card.shadowed-card-link
							.card-body
								%img.double-margin-bottom{:src=>"../images/people/thumb-5.png", :width=>"153px"}
								%h3.card-title.text-color
									Ursula Honigman
								%h5.card-subtitle.light-text-color.half-margin-bottom
									Associate
								%i.material-icons.mail-link{:onclick=>"document.location.href = 'mailto:john@doe.com'; return false"}
									email
								%h5.card-text.light-text-color
									=lorem.words(18)
								%button.btn.btn-lg.btn-outline-dark.btn-block.double-margin-top{:type=>"button"}
									View bio
				.col-lg-4.col-md-6
					%a{:href=>"/styles"}
						.card.person-card.position-relative.card-grid-card.shadowed-card-link
							.card-body
								%img.double-margin-bottom{:src=>"../images/people/thumb-6.png", :width=>"153px"}
								%h3.card-title.text-color
									First Last
								%h5.card-subtitle.light-text-color.half-margin-bottom
									Associate
								%i.material-icons.mail-link{:onclick=>"document.location.href = 'mailto:john@doe.com'; return false"}
									email
								%h5.card-text.light-text-color
									=lorem.words(18)
								%button.btn.btn-lg.btn-outline-dark.btn-block.double-margin-top{:type=>"button"}
									View bio



=partial("shared/promo")