%section.page-hero.page-hero-offset{:style=>"background-image:url(../images/about-hero-bg.png);"}
	.container
		.row
			.col-lg-9
				.hero-text-container
					%h1.margin-bottom.medium-font
						Our firm
					%h3
						Aliquam vehicula dictum diam, at ornare sem condimentum ut. Aenean blandit consectetur dui ut fermentum.
					%a.btn.btn-dark.btn-lg.margin-top.double-padding-left.double-padding-right{:href=>"#"}
						Work with us
%section
	.container
		.row
			.col-md-6
				%img.max-width{:src=>"../images/about-1.png"}
			.col-md-1

			.col-md-5
				.double-margin-top
					%h2
						What we do
					.border-flourish-below
					%p
						Aliquam vehicula dictum diam, at ornare sem condimentum ut. Aenean blandit consectetur dui ut fermentum. Curabitur sodales orci eget odio.
					%h3
						%a.link-underline{:href=>"#"}
							See our areas of practice
%section.no-padding-top-sm
	.container
		.row
			.col-md-6.order-md-3
				%img.max-width{:src=>"../images/about-2.png"}
			.col-md-1.order-md-2

			.col-md-5.order-md-1
				.double-margin-top
					%h2
						Why we do it
					.border-flourish-below
					%p
						Aliquam vehicula dictum diam, at ornare sem condimentum ut. Aenean blandit consectetur dui ut fermentum. Curabitur sodales orci eget odio.
					%h3.margin-bottom
						%a.link-underline{:href=>"#"}
							Meet the team
					%h3
						%a.link-underline{:href=>"#"}
							Read a case study

=partial("shared/promo")